@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

.container {
    @apply max-w-5xl;
}

.font-libre {
  font-family: 'Libre Baskerville', serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.nav-link-active {
  color: #45474B;
  font-weight: bold;
  border-bottom: 1.5px solid #379777;
}
